@layer base {
	:root {
		--color-black: #2e2e2e;
		--color-red: #d2374f;
		--soft-pressed-shadow: inset 2px 2px 4px #d2d2d2, inset -2px -2px 4px #ffffff;
		--soft-flat-shadow: 3px 3px 6px #d2d2d2, -3px -3px 6px #ffffff;
	}

	.soft,
	.pressed {
		background-color: #f7f7f7;
		border: none;
	}

	.soft {
		box-shadow: var(--soft-flat-shadow);
	}

	.pressed {
		box-shadow: var(--soft-pressed-shadow);
	}
}
