---
import Layout from "@/layouts/Layout.astro";

const url = `${import.meta.env.API_URL}`;
const res = await fetch(`${import.meta.env.API_URL}`);
const data = await res.json();
---

<Layout>
	<form action="">
		<div>
			<label for="">ユーザーID</label>
			<input type="text" required />
		</div>
		<div>
			<label for="">メールアドレス</label>
			<input type="email" required />
		</div>
		<div>
			<label for="">パスワード</label>
			<input type="password" required />
		</div>
		<div>
			<label for="">パスワード（確認）</label>
			<input type="password" required />
		</div>
		<div>
			<input type="submit" value="新規登録" />
		</div>
	</form>
</Layout>

<script define:vars={{ url, data }}>
	console.log(url);
	console.log(data);
</script>
