---
import Layout from "@/layouts/Layout.astro";
import { GoogleAuth } from "google-auth-library";

const url = `${import.meta.env.API_TARGET_AUDIENCE}/test`;
const targetAudience = import.meta.env.API_TARGET_AUDIENCE;

const auth = new GoogleAuth();

let data = { message: "" };
let message = "";

const request = async () => {
	const client = await auth.getIdTokenClient(targetAudience);
	const res = await client.request<{ message: string }>({ url });
	data = res.data;
};

try {
	await request();
} catch (e) {
	if (e instanceof Error) {
		message = e.message;
	} else {
		message = "ERROR";
	}
}
---

<Layout>
	<form action="">
		<div>
			<label for="">ユーザーID</label>
			<input type="text" required />
		</div>
		<div>
			<label for="">メールアドレス</label>
			<input type="email" required />
		</div>
		<div>
			<label for="">パスワード</label>
			<input type="password" required />
		</div>
		<div>
			<label for="">パスワード（確認）</label>
			<input type="password" required />
		</div>
		<div>
			<input type="submit" value="新規登録" />
		</div>
	</form>
</Layout>

<script define:vars={{ url, data, message }}>
	console.log(url);
	console.log(data);
	console.log(message);
</script>
