---
import Layout from "@/layouts/Layout.astro";
import { GoogleAuth } from "google-auth-library";

const url = `${import.meta.env.API_URL}/test`;

const apiServiceUrl = import.meta.env.API_URL;
const auth = new GoogleAuth();

const options: RequestInit = {
	method: "GET",
	headers: {
		"Content-Type": "application/json"
	}
};

let data = { message: "" };
let message = "";

const request = async () => {
	const client = await auth.getIdTokenClient(apiServiceUrl);
	const headers = await client.getRequestHeaders();
	if (headers["Authorization"] !== undefined && options.headers !== undefined) {
		options.headers["Authorization" as keyof HeadersInit] = headers["Authorization"];
	}
};

try {
	if (import.meta.env.PROD) {
		await request();
	}

	const res = await fetch(url, options);
	data = await res.json();
} catch (e) {
	if (e instanceof Error) {
		message = e.message;
	} else {
		message = "ERROR";
	}
}
---

<Layout>
	<form action="">
		<div>
			<label for="">ユーザーID</label>
			<input type="text" required />
		</div>
		<div>
			<label for="">メールアドレス</label>
			<input type="email" required />
		</div>
		<div>
			<label for="">パスワード</label>
			<input type="password" required />
		</div>
		<div>
			<label for="">パスワード（確認）</label>
			<input type="password" required />
		</div>
		<div>
			<input type="submit" value="新規登録" />
		</div>
	</form>
</Layout>

<script define:vars={{ url, data, message }}>
	console.log(url);
	console.log(data);
	console.log(message);
</script>
