---
// import "aki-modules/reset.css";
import "@/styles/var.css";

interface Props {
	title?: string;
}

const { title } = Astro.props;
const serviceTitle = "Mumbler";
const pageTitle = title === undefined ? serviceTitle : `${title} | ${serviceTitle}`;
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
